
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content%}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class ="form-group">
                <!--<legend class="border-bottom mb-4">Patient Stroke Risk Evaluation</legend>-->
                
                <div class="alert alert-info" role="alert" align="left">
                    <h5>Patient Stroke Risk Evaluation</h5>
                </div>

                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Predict</button>
            </div>
            
        </form>
        
    </div>

{%endblock content%}